<ul>
    <%for(var i = 0 ; i < data.length ; i ++){%>
    <li>
        <%for(var j = 0 ; j < data[i].length ; j ++){%>
        <%if(i == data.length-1 && j == data[i].length-1){%>
            <div class="more">
                    <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-4/kj-more-sun_wap.jpg" alt="">
                    <p>MORE+</p>
                </div>
        <%}else{%>
        <div>
            <a href="">
                <img src="<%= data[i][j]['mainPic']%>"
                    alt="">
            </a>
            <div class="goods-message">
                <p><%= $imports.reg(data[i][j]['goodsName'],data[i][j]['sku'])%></p>
                <ul class="price-message">
                    <li>
                        <p id="CurrentPrice">￥<i><%= data[i][j]['price']%></i></p>
                        <p id="truePrice">￥<i><%= data[i][j]['discountPrice']%></i></p>
                    </li>
                    <li>
                        <span>砍</span>
                    </li>
                    <li><button>去砍价</button></li>
                </ul>
            </div>
        </div>
        <%}%>
        <%}%>
    </li>
    <%}%>
</ul>