<ul>
    <% for(var i = 1 ; i < 4 ; i ++){%>
    <li class="active">
        <ul class="goods-group">
            <% for(var j = 1 ; j < 4 ; j ++){%>
            <li>
                <%for(var k = 0 ; k < data[i*j].length ; k ++){%>
                <div>
                    <a href="">
                        <img src="<%= data[i*j][k]['mainPic'] %>" alt="">
                        <div class="zhijiang">
                            <p>直降</p>
                            <p></p>
                        </div>
                    </a>
                    <div class="message">
                        <p></p>
                        <div class="shop-price">
                            <span>￥<i></i></span>
                            <button>立即购买</button>
                        </div>


                    </div>

                </div>
                <%}%>
            </li>
            <%}%>
        </ul>
    </li>
    <%}%>
</ul>