<div class="container">
  <header>
    <div class="activity">
      <a href="">
        <img src="https://cdns.lining.com/postsystem/docroot/images/promotion/201902/650ECB04751E723CBC469E658B4B644C.jpg" alt="">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""><i class="iconfont">&#xe607;</i> <span>发现</span> </a></li>
        <li><a href=""><i class="iconfont">&#xe78e;</i> <span>购物车</span> </a></li>
        <li><a href=""><i class="iconfont">&#xe62b;</i> <span>我的李宁</span> </a></li>
        <li><a href=""><i class="iconfont">&#xe634;</i> <span>分类</span> </a></li>
      </ul><i></i>
    </nav>
    <div class="search">
      <i class="iconfont">&#xe600;</i>
      <input type="text" placeholder="搜索商品">
    </div>
  </header>
  <main>
    <div class="center">
      
    <div class="images-1">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-6/618-2_wap-01-n-n.jpg" alt="">
      </div>
      <div class="images-2">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-02-n-n.gif" alt="">
        <ul class="change-img">
          <li><img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2-yhq-40_wap.jpg" alt=""></li>
          <li><img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2-yhq-50_wap.jpg" alt=""></li>
        </ul>
        <ul class="bind-href">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="images-3">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-6/618-2_wap-03-n.jpg" alt="">
        <a href=""></a>
      </div>
      <div class="images-4">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-6/618-2_wap-04-n-n-n.jpg" alt="">
        <ul class="bind-src">
          <li></li>
          <li></li>
          <li>
          <a href=""></a>
          <a href=""></a>
        </li>
          <li>
          <a href=""></a>
          <a href=""></a>
        </li>
          <li>
          <a href=""></a>
          <a href=""></a>
        </li>
          <li>
          <a href=""></a>
          <a href=""></a>
        </li>
        </ul>
      </div>
      <!-- hot -->
      <div class="images-5">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-05.jpg" alt="">
      </div>
      <div class="hot">
        <nav>
              <ul>
                <li class="active">T恤</li>
                <li>裤装</li>
                <li>鞋</li>
              </ul>
              <div class="more"> <a href="">＋MORE</a> </div>
        </nav>
        <div class="shop-list">
        <!-- hotShopList  ul -->
        </div>
      </div>
      <!-- hot end -->
      <!-- Clearance 清仓-->
      <div class="clearance">
        <div class="images-clearance">
          <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-07.jpg" alt="">
          <a href=""></a>
        </div>
        <div class="goods-list">
          <!-- clearanceList -->
        </div>
      </div>
      <!-- Clearance end -->
      <!-- Bargain 砍价-->
      <div class="bargain">
        <div class="images-bargain">
          <a href="">
            <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-09.jpg" alt="">
          </a>
        </div>
        <div class="goods-list">
          <!-- BargainList -->
        </div>
      </div>
      <!-- Bargain end -->
      <!-- series 系列 -->
      <div class="allseries">
          <div class="series">
              <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-11-n.jpg" alt="">
              <a href="">
                <span>￥<i>649</i></span>
              </a>
              <a href="">
                <span>￥<i>339</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a>
          </div>
          <div class="series">
              <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-12.jpg" alt="">
              <a href="">
                <span>￥<i>649</i></span>
              </a>
              <a href="">
                <span>￥<i>339</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a>
          </div>
          <div class="series">
              <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-13.jpg" alt="">
              <a href="">
                <span>￥<i>649</i></span>
              </a>
              <a href="">
                <span>￥<i>339</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a>
          </div>
          <div class="series">
              <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-14.jpg" alt="">
              <a href="">
                <span>￥<i>649</i></span>
              </a>
              <a href="">
                <span>￥<i>339</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a><a href="">
                <span>￥<i>158</i></span>
              </a>
          </div>
      </div>
      <!-- series -->
      <!-- moreSeries 更多系列 -->
      <div class="moreSeries">
        <div class="shop-series">
          <div class="series-images">
            <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-15.jpg" alt="">
            <a href=""></a>
            <a href=""><span>468</span></a>
            <a href=""><span>468</span></a>
          </div>
          <div class="shop-tab">
            <ul class="tab-control">
              <li><a href="" class="active">男子</a></li>
              <li><a href="">女子</a></li>
            </ul>
            <ul class="tab-center">
              <li>
                <ul class="tab-show man">
                <li>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="goods-item">
                      <a href="">
                        <img
                          src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                          alt="">
                      </a>
                      <p>eazGO男子一体织透气舒适跑鞋</p>
                      <div class="goods-price">
                        <span>￥<i>198</i></span>
                        <button>立即购买</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
              <li>
                <ul class="tab-show woman">
                  <li>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="goods-item">
                        <a href="">
                          <img
                            src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                            alt="">
                        </a>
                        <p>eazGO男子一体织透气舒适跑鞋</p>
                        <div class="goods-price">
                          <span>￥<i>198</i></span>
                          <button>立即购买</button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- moreSeries end -->
      <!-- seriesLogo -->
      <div class="series-logo">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-23.png" alt="">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
      <!-- seriesLogo end-->
      <!-- foot -->
      <div class="foot">
        <div class="tips">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
        <div class="link">
          <p>沪ICP备14035278号-2 京公网安备11011202000593</p>
          <p>上海李宁体育用品电子商务有限公司 ©1990-2018</p>
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
      <!-- foot end-->
      
    </div>
  </main>
  <!-- suspension 悬浮-->
  <ul class="suspension">
      <li id="share">
        <i class="iconfont">&#xe66d;</i>
      </li>
      <li id="toTop">
        <i class="iconfont">&#xe6ab;</i>
        <span>top</span>
      </li>
    </ul>
    <!-- suspension end-->
  <footer>
    <ul>
      <li class="active">年中福利</li>
      <li>新品发售</li>
      <li>热卖直降</li>
      <li>清仓专区</li>
      <li>砍价专区</li>
    </ul>
  </footer>
</div>  