<%for(var i = 0 ; i < data.length ; i ++){%>
<div class="shop-series">
    <div class="series-images">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-<%=i*2+15%>.jpg" alt="">
        <a href=""></a>
        <a href=""><span>468</span></a>
        <a href=""><span>468</span></a>
    </div>
    <div class="shop-tab">
        <ul class="tab-control">
            <%if(i === 1){%>
            <li><a href="javascipt:void(0);" class="active">篮球鞋</a></li>
            <li><a href="javascipt:void(0);">篮球服</a></li>
            <%}else{%>
            <li><a href="javascipt:void(0);" class="active">男子</a></li>
            <li><a href="javascipt:void(0);">女子</a></li>
            <%}%>
        </ul>
        <ul class="tab-center">
            <li class="active">
                <ul class="tab-show man">
                    <% for(var j = 0 ; j < 3 ; j ++){%>
                        <li>
                            <%for(var k = 0 ; k < data[i][j].length ; k ++){%>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="<%= data[i][j][k]['mainPic']%>"
                                        alt="">
                                </a>
                                <p><%= $imports.reg(data[i][j][k]['goodsName'],data[i][j][k]['sku'])%></p>
                                <div class="goods-price">
                                    <span>￥<i><%= data[i][j][k]['price']%></i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </li>
                    <%}%>
                </ul>
            </li>
            <li>
                <ul class="tab-show woman">
                        <% for(var l = 3 ; l < 6 ; l ++){%>
                            <li>
                                <%for(var m = 0 ; m < data[i][l].length ; m ++){%>
                            <div>
                                <div class="goods-item">
                                    <a href="">
                                        <img src="<%= data[i][l][m]['mainPic']%>"
                                            alt="">
                                    </a>
                                    <p><%= $imports.reg(data[i][l][m]['goodsName'],data[i][l][m]['sku'])%></p>
                                    <div class="goods-price">
                                        <span>￥<i><%= data[i][l][m]['price']%></i></span>
                                        <button>立即购买</button>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </li>
                        <%}%>
                </ul>
            </li>
        </ul>
    </div>
</div>
<%}%>