<%for(var i = 0 ; i < data.length ; i ++){%>
<div class="shop-series">
    <div class="series-images">
        <img src="https://cdns.lining.com/postsystem/docroot/images/cps/2019-5/618-2_wap-1<%=i+5%>.jpg" alt="">
        <a href=""></a>
        <a href=""><span>468</span></a>
        <a href=""><span>468</span></a>
    </div>
    <div class="shop-tab">
        <ul class="tab-control">
            <%if(i === 1){%>
            <li><a href="" class="active">篮球鞋</a></li>
            <li><a href="">篮球服</a></li>
            <%}else{%>
            <li><a href="" class="active">男子</a></li>
            <li><a href="">女子</a></li>
            <%}%>
        </ul>
        <ul class="tab-center">
            <li>
                <ul class="tab-show man">
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="tab-show woman">
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="goods-item">
                                <a href="">
                                    <img src="https://cdns.lining.com/postsystem/docroot/images/goods/201903/466158/display_466158_1.jpg"
                                        alt="">
                                </a>
                                <p>eazGO男子一体织透气舒适跑鞋</p>
                                <div class="goods-price">
                                    <span>￥<i>198</i></span>
                                    <button>立即购买</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<%}%>